<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<style type="text/css">
body {
	background-color: black;
}
.box {
	background-color: white;
	width: 200px;
	height: 200px;
	border-radius: 20px;
	border: 5px solid white;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.column {
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
}
.item {
	width: 51px;
	height: 51px;
	background-color: black;
	border-radius: 50px;
}
</style>
</head>
<body>
	<div class="box">
		<div class="column">
			<span class="item"></span>
			<span class="item"></span>
			<span class="item"></span>
		</div>
		<div class="column">
			<span class="item"></span>
			<span class="item"></span>
			<span class="item"></span>
		</div>
		<div class="column">
			<span class="item"></span>
			<span class="item"></span>
			<span class="item"></span>
		</div>

	</div>
</body>
</html>