<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<style type="text/css">
/*nav {
	float: left;
	width: 25%;
	border: 1px solid red;
}
section {
	margin-left: 25%;
	border: 1px solid red;
}*/
@media screen and (min-width: 600px) {
	nav {
		float: left;
		width: 25%;
	}
	section {
		margin-left: 25%;
	}
}
@media screen and (max-width: 599px) {
	nav li {
		display: inline;
	}
}
</style>
</head>
<body>
	<nav>
		<ul>
			<li>home</li>
			<li>hours</li>
			<li>contact</li>
		</ul>
	</nav>
	<section>当布局很窄时， nav 就会被挤扁。更糟糕的是，你不能在 nav 上使用 min-width 来修复这个问题，因为右边的那列是不会遵守它的</section>
	<section>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit</section>
</body>
</html>